{{yield}}
<div class="card">
  <figure class="card-image-wrap">
      {{inline-svg "assets/images/bottle.svg" class=colorClass}}
  </figure>
  <div class="card-content">
      {{toggle-button click=(action 'changeState') on=bottle.status}}
  </div>
</div>