<div class="grid-container">
  <div class="column-18 pre-3">
      <div class="block-group block-group-3-up tablet-block-group-1-up phone-block-group-1-up">
        {{yield results}}
      </div>
  </div>
</div>