$primary: "red";
$accent: "red";
$warn: "pink";

$nuka-red: #f44336;

@import 'ember-paper';

.text-align-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.led-color h3{
  color: currentColor;
}

.led-color path {
  fill: currentColor;
}

.led-off {
  opacity: .15
}

.header-icon {
  width: 50px;
}

.padding-left-16 {
  padding-left: 16px;
}

// color picker classes
.color-picker-container {
  .sp-replacer {
    border: none;
    border-radius: 5px;
  }
}

.sp-container {
  border: none;
  border-radius: 5px;

  .sp-cf {
    span {
      border: none;
    }
  }

  button {
    border-radius: 5px;
  }
}
