$primary: "red";
$accent: "red";
$warn: "pink";

$nuka-red: #f44336;

@import 'ember-paper';

.text-align-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.led-color h3{
  color: currentColor;
}

.led-color path {
  fill: currentColor;
}

.led-off {
  opacity: .15
}

.header-icon {
  width: 50px;
}

.padding-left-16 {
  padding-left: 16px;
}

md-list-item .md-secondary-container, md-list-item .md-list-item-inner .md-secondary-container {
  margin-left: 5px;
}

.md-list-item-text {
  margin-right: auto;
}

.color-picker-container {

  .sp-preview {
    border: none;

    .sp-preview-inner {
      border: none;
      border-radius: 5px;
    }
  }

  .sp-replacer {
    border: none;
    border-radius: 5px;
  }
}

.sp-container {
  border: none;
  border-radius: 5px;

  .sp-cf {
    span {
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }
  }

  button {
    border-radius: 5px;
  }
}
