{{#paper-toolbar accent=true}}
  {{#paper-toolbar-tools}}
      <img src="assets/images/nuka-cola-cap-icon.png" class="header-icon">
    <h2 class="full-width padding-left-16">Nuka Cola Bottle Controller</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}



{{#led-list filter=(action 'filterLeds') as |leds|}}
  {{#each leds as |led|}}
      {{led-card led=led}}
  {{/each}}
{{/led-list}}