<h3 class="text-center">Nuka Cola Bottles</h3>
{{#output-list filter=(action 'filterOutputs') as |outputs|}}
  {{#each outputs as |output|}}
      {{output-card output=output}}
  {{/each}}
{{/output-list}}